<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Danfoss Artifactory" value="https://danfoss.jfrog.io/danfoss/api/nuget/nuget" />
  </packageSources>

  <disabledPackageSources>

    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>